@import 'styles.less';

@import (css) url('https://fonts.googleapis.com/css2?family=Rubik:wght@400..700&display=swap');

html, body {
  height: 100%;
}

body {
  font-family: @fonts-sans;
  margin: 0;
}

h1 {
  font-weight: @weight-bold;
  margin: 0;
  padding: 0;
}
